@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primart-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condesed" sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***Navbar****/

.logo {
  width: 6.25rem;
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
  border-top: 0.1875rem solid;
}
@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;


  }
}
/***Nav Links***/

.nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase
  ;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primart-dark);
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
nav {
  z-index: 2;
}

/***Header***/
.header-wraper {
  position: relative;
  background: url(pexels.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;

}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
    
  }
}

/***typed text***/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}
@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important; 
  }
  .typed-text: 1.7rem;
}

/***header**/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  display: none;
}

.skill {
  background-color: lightgray;
  height: 50vh;
}

.logos {
  font-size: 150px;
  font-weight: 90000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.about-section {
  height: 100vh;
  background-color: black;
  color: white;
}